body {
    background-image: url("../images/wooden_desktop.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

div.calcbody {
    border: 1px solid red;
    border-radius: 3px;
    background-color: rgba(81, 87, 86, 0.4);
    min-width: 270px;
    max-width: 270px;
    min-height: 400px;
    max-height: 400px;
    position: fixed;
    left: 25%;
    top: 15%;
    
}

div.display {
    min-width: 270px;
    max-width: 270px;
    min-height: 75px;
    max-height: 75px;
    padding-top: 10px
}

div.numdisplay {
    background-color: rgba(81, 87, 86, 0.4);
    border: 1px solid black;
    border-radius: 7px;
    min-width: 254px;
    max-width: 254px;
    min-height: 60px;
    max-height: 60px;
    position: relative;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: .07em;
    text-align: right;
    overflow: scroll;
    
}
div.buttonsgrid {
    background-color: rgba(81, 87, 86, 0.4);
    border: 1px solid black;
    border-radius: 7px;
    min-width: 254px;
    max-width: 254px;
    min-height: 295px;
    max-height: 295px;
    margin: 10px auto;
    display: grid;

}